---
layout: default
---

<article class="link-post">
  {% if page.link %}
  <h1><a href="{{ page.link }}" target="_blank" rel="noopener">{{ page.title }} &rarr;</a></h1>
  <header>
    <p>
      <span class="link-source">{{ page.link | split: '//' | last | split: '/' | first }}</span>
      &middot;
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
    </p>
  </header>
  {% else %}
  <h1>{{ page.title }}</h1>
  <header>
    <p>
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
    </p>
  </header>
  {% endif %}

  {{ content }}
</article>
